/* Breakpoints */
$desktop-width: 1400px;
$tablet-width: 769px;
$phone-width: 320px;

/* Container */
$desktop-container: 1240px;
$tablet-container: 769px;
$phone-container: 270px;

/* Colors */
$white: #FFFFFF;
$background: #282828;
$light-text: #8E8E8E;
$hover-button: #1C1C1C;
