@use '../config' as *;

.content {

  @include phone {
    padding-top: 4em;
  }
}

.main {
  display: flex;

  @include desktop {
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 2.5em;
    height: calc(100vh - 7em);
  }

  @include tablet {
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 7em);
    padding-top: 0;
  }

  @include phone {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  &__text-typing {
    width: 100%;
    height: 6em;
  }

  &__text {
    color: $white;
    overflow: hidden;

    &_greeting {

      @include desktop {
        width: 25%;
        margin-left: 75%;
      }

      @include tablet {
        width: 30%;
        margin-left: 70%;
      }
    }

    &_link {
      transition: .5s;

      @include desktop {
        margin-bottom: 3.5em;
      }

      @include tablet {
        margin-left: 0;
        margin-bottom: 2.5em;
      }

      &:hover {

        @include desktop {
          color: $light-text;
        }
      }
    }
  }

  &__title {
    font-weight: 500;

    @include desktop {
      font-size: 3.5em;
      width: 75%;
    }

    @include tablet {
      font-size: 2.5em;
      width: 70%;
      margin-bottom: 1em;
      margin-top: -1em;
    }

    @include phone {
      font-size: 1.6em;
      margin: 1em 0 2em;
    }
  }

  &__title-wrap {
    position: relative;
    overflow: hidden;

    @include desktop {
      height: 95px;
    }

    @include tablet {
      height: 68px;
    }

    @include phone {
      height: 44px;
    }
  }

  &__title-one,
  &__title-two,
  &__title-three,
  &__title-four,
  &__title-five {
    position: absolute;
    opacity: 0;
  }

  &__wrap {

    @include desktop {
      padding-top: 8em;
    }

    @include tablet {
      padding-top: 5em;
    }

    @include phone {
      display: none;
    }
  }
}

.animate-one {
  animation: appearance .4s linear  forwards;
}

.animate-two {
  animation: appearance .4s linear .1s forwards;
}

.animate-three {
  animation: appearance .4s linear .2s forwards;
}

.animate-four {
  animation: appearance .4s linear .3s forwards;
}

.animate-five {
  animation: appearance .4s linear .4s forwards;
}


@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  5% {
    opacity: 1;
    transform: translateY(95%);
  }
  25% {
    opacity: 1;
    transform: translateY(75%);
  }
  50% {
    opacity: 1;
    transform: translateY(50%);
  }
  75% {
    opacity: 1;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


