@use '../config' as *;

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 2em 0;

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include phone {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;

    @include phone {
      margin-bottom: 4em;
    }
  }

  &__image {
    margin-bottom: 2em;

    @include phone {
      margin-bottom: 1em;
    }
  }

  &__title,
  &__name {
    font-size: 1.5em;
    margin-bottom: .8em;
  }

  &__title {
    text-transform: capitalize;

    @include phone {
      margin-bottom: .4em;
    }
  }

  &__name {
    padding-top: 3em;

    @include phone {
      padding-top: 1em;
      margin-bottom: 2em;
    }
  }

  &__description {
    max-width: 75%;
    margin-bottom: 1em;

    @include phone {
      max-width: 100%;
    }
  }

  &__tech {
    color: $light-text;
    margin-bottom: 1em;
    max-width: 45%;

    @include phone {
      max-width: 100%;
    }
  }

  &__info {
    display: flex;

    @include phone {
      flex-direction: column;
    }
  }

  &__button {
    @include button;

    @include desktop {
      margin-right: 4em;
    }

    @include tablet {
      margin-right: 2em;
    }

    @include phone {
      align-self: flex-start;
      margin-right: 2em;
      margin-bottom: .6em;
    }
  }

  &__link {
    @include link;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 50%;
  min-width: 370px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 3em 15px 0;
  padding: 1em;


  &__image {
    margin-bottom: 1em;
    width: 300px;
    align-self: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 1.5em;
    color: inherit;
  }

  &__link-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex !important;
    text-decoration: underline !important;
  }

  &__github {
    width: 40px;
    height: 21px;
  }
}

