@use '../config' as *;

.portfolio {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__double {
    display: flex;
    justify-content: space-between;
    height: 1150px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;

    &_big {
      max-width: 75%;
    }

    &_small {
      max-width: 35%;
      align-self: flex-end;
    }

    &_small-h {
      max-width: 35%;
      align-self: flex-start;
    }

    &_medium {
      max-width: 50%;
      align-self: flex-start;
    }

    &_medium-h {
      max-width: 50%;
      align-self: flex-end;
    }

    &_big-l {
      max-width: 75%;
      align-self: flex-end;
    }
  }

  &__image {
    margin-bottom: 2em;
  }

  &__title {
    text-transform: capitalize;
    font-size: 1.5em;
    margin-bottom: .8em;
  }

  &__description {
    width: 75%;
    margin-bottom: 1em;
  }

  &__tech {
    color: $light-text;
    margin-bottom: 1em;
    max-width: 45%;
  }

  &__info {
    display: flex;
  }

  &__button {
    @include button;
    margin-right: 4em;
  }

  &__link {
    @include link;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 50%;
  min-width: 370px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 3em 15px 0;
  padding: 1em;


  &__image {
    margin-bottom: 1em;
    width: 300px;
    align-self: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 1.5em;
    color: inherit;
  }

  &__link-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex !important;
    text-decoration: underline !important;
  }

  &__github {
    width: 40px;
    height: 21px;
  }
}

